nav {
    display: flex;
    justify-content: space-between;

    max-width: 1120px;
    margin: auto;
    padding: 3.5rem;
}

nav.logomarca img{
    width: 230px;
    height: 58px;
}

#btn{
    width: 89px;
    height: 40px;

    border-radius: .5rem;
    background-color: var(--pink-dark);

    color: var(--text-title);
    font-weight: 600;
}