nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1120px;
    margin: auto;
    padding: 3.5rem;

    & #mobile-img{
        display: none;
    }  
}

nav.logomarca img{
    width: 230px;
    height: 58px;   
}

#btn{
    width: 89px;
    height: 40px;

    border-radius: .5rem;
    background-color: var(--pink-dark);

    color: var(--text-title);
    font-weight: 600;
}

#btn:hover{
    background-color: var(--pink-base);
}

@media(max-width: 768px){

    nav{
        padding: 1rem;

        & #mobile-img{
            display: initial;
            width: 64px;
            height: 48px;
        }

        & #desktop-img{
            display: none;
        }
    }

}